.contact{
    width: 100%;    
    text-align: center;
}
.contact-text1{
    font-family: 'Allan', cursive;
}
.contact-text2{
    font-family: 'Allan', cursive;
}
.contact-input{
    border: 1px solid #ed1b2642;
    border-radius:5px;
    box-shadow:0px 0px 5px #ed1b2641;
    width: 60%;
    height: 40px;
    padding-left: 10px;
    font-size: 13px;
}
.contact-textarea{
resize: none;
border: 1px solid #ed1b2642;
border-radius:5px;
box-shadow:0px 0px 5px #ed1b2641;
width: 60%;
padding-left: 10px;
    font-size: 13px;
}
.contact-btn-envoyer{
    background-color: #ED1B24;
    color: #fff;
    border: none;
    padding: 10px;
}